{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": "core-js@3",
                "targets": {
                    "esmodules": true,
                    "ie": "11"
                },
                "debug": true
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-object-assign"
    ]
}
