.DS_Store
/public/*.sql
/public/site/assets/*
!/public/site/assets/*.php
!/public/site/assets/files/
/public/CONTRIBUTING.md
/public/LICENSE.TXT
/public/README.md
/vendor/
/node_modules/
/submodules/
/backup/
/secure/
/db/
/tmp/
_TMP/
*-manifest.json
*.sublime-*
config-dev.php
stage.config.php
profile.zip
site-exorsus.zip
